*{
    margin: 0;
    padding: 0;
}

html{
    background-color: bisque;
}

img{
    height: 100px;
}

.article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-auto-rows: 200px;
}